:root{  /* Ignore CSSLintBear */
  --primary-color: rgb(27, 111, 164); /* Ignore CSSLintBear */
  --secondary-color: rgb(245, 245, 245); /* Ignore CSSLintBear */
  --text-color: white; /* Ignore CSSLintBear */
}

.container{
  background-color: var(--secondary-color);  /* Ignore CSSLintBear */
  padding: 0 2.5rem 1rem;
}

.title{
  --border-radius: .5rem;  /* Ignore CSSLintBear */
  background-color: var(--primary-color);  /* Ignore CSSLintBear */
  border-radius: 0 0 var(--border-radius) var(--border-radius);  /* Ignore CSSLintBear */
  color: var(--text-color);  /* Ignore CSSLintBear */
  padding: 1rem 2rem;
}

.post{
  border-radius: .1rem;
  margin-top: 1rem;
}

.difficulty{
  display: inline-block;
  padding: 0 .25rem;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
}

.difficulty-b{
  --background-color: rgb(49, 175, 246);
  --border-color: rgb(6, 144, 222);
}

.difficulty-l{
  --background-color: rgb(33, 251, 100);
  --border-color: rgb(15, 187, 68);
}

.difficulty-m{
  --background-color: rgb(254, 136, 28);
  --border-color: rgb(187, 94, 9);
}
